.navbar {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
}

.spacer {
  flex: 1 1 auto;
}

.nav-links {
  display: flex;
  gap: 1rem;
  padding-right: 10px;
}

.hide-on-mobile {
  display: none;
}

.hide-on-desktop {
  display: block;
}

@media (min-width: 768px) {
  .hide-on-mobile {
    display: flex;
  }

  .hide-on-desktop {
    display: none;
  }
}
