<mat-card>
  <mat-card-title>Gestión de Usuarios</mat-card-title>
  <button mat-raised-button color="primary" class="my-4">Añadir Usuario</button>

  <table mat-table [dataSource]="usuarios" class="mat-elevation-z1" style="width: 100%;">
    <!-- Nombre -->
    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef>Nombre</th>
      <td mat-cell *matCellDef="let user">{{ user.nombre }}</td>
    </ng-container>

    <!-- Email -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>Email</th>
      <td mat-cell *matCellDef="let user">{{ user.email }}</td>
    </ng-container>

    <!-- Fecha Registro -->
    <ng-container matColumnDef="fecha">
      <th mat-header-cell *matHeaderCellDef>Fecha</th>
      <td mat-cell *matCellDef="let user">{{ user.fechaRegistro | date }}</td>
    </ng-container>

    <!-- Rol -->
    <ng-container matColumnDef="rol">
      <th mat-header-cell *matHeaderCellDef>Rol</th>
      <td mat-cell *matCellDef="let user">{{ getNombreRol(user.rolId) }}</td>
    </ng-container>

    <!-- Acciones -->
    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef>Acciones</th>
      <td mat-cell *matCellDef="let user">
        <button mat-icon-button color="primary">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="eliminarUsuario(user.id)">
          <mat-icon>delete</mat-icon>
        </button>
        <button mat-icon-button color="accent">
          <mat-icon>security</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="['nombre', 'email', 'fecha', 'rol', 'acciones']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['nombre', 'email', 'fecha', 'rol', 'acciones'];"></tr>
  </table>
</mat-card>
