mat-form-field {
    width: 100%;
  }
  
  mat-dialog-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-height: 70vh;
    overflow: auto;
  }
  
  input[type="file"] {
    margin-top: 8px;
  }
  
  mat-dialog-actions {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
    gap: 12px;
  }
  
  button[mat-button], button[mat-flat-button] {
    min-width: 100px;
  }
  