.categoria-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 1rem;
}

.acciones {
  display: flex;
  gap: 1.5rem;
  align-items: baseline;
  margin-top: 2rem;

  @media (max-width: 600px) {
    flex-direction: column;
    align-items: stretch;
  }
}

.buscador {
  flex: 1;
  @media (max-width: 600px) {
    width: 100%;
  }
}

.categoria-button{
  padding: 20px;
  border-radius: 50px
}

.categoria-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
  gap: 2rem;
}

.categoria-card {
  position: relative;
  padding: 1rem;

  .categoria-icon {
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: #1976d2;
  }
}