.login-card {
  max-width: 400px;
  margin: 5rem auto;
  padding: 2rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
}

mat-card-subtitle{
  margin-top: 10px;
  margin-bottom: 15px;
}

.full-width {
  width: 100%;
}

.actions {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

mat-progress-spinner {
  margin-right: 10px;
}

.error-box {
  margin-top: 1rem;
  padding: 1rem;
  background-color: #fff3cd;
  border: 1px solid #ffecb5;
  color: #856404;
  border-radius: 6px;
}
