.search-bar {
    display: flex;
    align-items:baseline;
    gap: 10px;
    margin: 20px;
  }

  .search-input {
    width: 100%;
    max-width: 600px;
  }

  .button-advance{
    margin-left: 20px;
    padding: 20px;
    border-radius: 50px
  }
  
  .upload-section {
    margin: 0 20px 0px 20px;
  }

  .button-upload{
    padding: 20px;
    border-radius: 50px
  }
  .spacer {
    flex: 1 1 auto;
  }

.col-responsive {
  display: table-cell;
}

.table-container{
  padding: 20px;
  overflow-x: auto;
}

table {
  max-width: calc(100% - 40px);
}

@media (max-width: 767px) {
  .col-responsive {
    display: none;
  }
   /* Ocultar columnas adicionales en dispositivos móviles */
  .mat-column-categoria,
  .mat-column-etiquetas, 
  .mat-column-codigoClasificacion, 
  .mat-column-anio, 
  .mat-column-fechaUltimaModificacion, 
  .mat-column-formato, 
  .mat-column-firmaElectronica, 
  .mat-column-estado, 
  .mat-column-permisosAcceso {
    display: none;
  }

  .table-container{
    padding: 0;
  }
}

